
.absolute-box{
position: absolute;
top: -10px;
left: -10px;
width: 1500px;
height: 150px;
background-size: cover;
background-color: rgb(239, 235, 231);
}
.one{
position:absolute;
font-family: Baskerville;
font-size: 20px;
top: -5px;
left: 600px;
color:black;
}
.two{
position:absolute;
font-family: Baskerville;
font-size: 80px;
top: -40px;
left: 550px;
color:black;
}
.inline-block{
position:relative;
top: 200px;
left: 50px;
height: 400px;
width:400px;
background-color: rgb(239, 235, 231);	
display: inline-block;
margin-right:50px;
margin-bottom:50px;
}
.inline-block1{
position:relative;
top: 65px;
left: 60px;
height: 70px;
width:380px;
background-color: white;	
display: inline-block;
margin-right:70px;
margin-bottom:50px;	
}
.inline-block2{
position:relative;
top: -368px;
left: 60px;
height: 300px;
width:380px;
background-color: white;	
display: inline-block;
margin-right:70px;
margin-bottom:50px;	
}
.third{
position: absolute;
top: 515px;
left: 180px;
font-family: baskerville;
font-size: 30px;
color: black;
}
.fourth{
position: absolute;
top: 515px;
left: 620px;
font-family: baskerville;
font-size: 30px;
color: black;
}
.fivth{
position: absolute;
top: 515px;
left: 1080px;
font-family: baskerville;
font-size: 30px;
color: black;	
}
.letter{
	position: absolute;
	top:218px;
	left:565px;
	width:295px;
}
.plaid{
	position: absolute;
	top:218px;
	left:110px;
	width:300px;
}
.mix{
	position: absolute;
	top:218px;
	left:1015px;
	width:300px;
}


